@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Playfair Display", serif;
}

#collapsibleNavbar {
    justify-content: flex-end;
    text-align: center;
    font-size: 18px;
}
.protegemos {
    background-image: url(/multimedia/imagen\ familia.jpg);
    background-position: center;
    background-size: cover;
    height: 450px;
}
.protegemosTexto {
    background-color: rgba(255, 255, 255, 0.2);
    width: 50%;
    margin-top: 0px;
    text-shadow: 0 0 2px black;
    padding: 20px;
    border-radius: 5%;
}
.protegemosTexto p {
    text-shadow: 0 0 1px black;
    font-size: 21px;
}

.quienes
{
    background-color: rgb(245, 245, 200);
    background-position: center center;
    text-align: center;
    padding: 25px 10px 25px 10px;
    
}
.quienes h2 {
    font-size: 60px;
    color: rgba(65, 53, 53, 0.694);
    text-shadow: 0 0 10px rgb(91, 86, 224);
}
.quienes h3 {
    font-size: 40px;
}
.quienes p {
    font-size: 20px;
}
.nuestro
{
    background-color: rgb(235, 187, 117);
    background-position: center center;
    text-align: center;
    padding:25px 10px 25px 10px;
}
.nuestro h2 {
    font-size: 60px;
    color: rgba(65, 53, 53, 0.694);
    text-shadow: 0 0 10px rgb(91, 86, 224)
}
.nuestro h3 {
    font-size: 40px;
}
.nuestro p {
    font-size: 20px;
}
aside
{
    background-color: rgb(240, 174, 32);
    background-position: center center;
    text-align: center;
    padding:50px 10px 50px 10px;
    font-family: "Playfair Display", serif;
    letter-spacing: 3px;
    text-shadow: 1px 1px 4px rgb(253, 250, 250);

}
footer{
    background-position: center center;
    text-align: center;
    padding: 25px 10px 25px 10px;
    color: white;
    font-size: 25px;
}
footer h5 a {
    color: rgb(48, 135, 243);
}
.redes a {
    letter-spacing: 15px;
    font-size: 70px;
}
.accidentes {
    background-image: url(/multimedia/ap.jpg);
    background-position: center;
    background-size: cover;
    height: 450px;
}
.accidentesTexto {
    background-color: rgba(253, 249, 249, 0.7);
    width: 100%;
    margin-top: 40px;
    text-shadow: 0 0 2px white;
    padding: 20px;
    border-radius: 5%;
}
.accidentesTexto h1 {
    font-size: 40px;
}
.accidentesTexto p {
    font-size: 20px;
}
.ap
{
    background-image: url(multimedia/ap.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align:center;
    vertical-align:sub;
    padding: 200px;
}
.coberturasAdicionalesAp
{
    background-color: rgb(240, 174, 32);
    background-position: center center;
    text-align: center;
    padding: 30px;

}
.apLogo h2 {
    font-size: 60px;
    color: rgba(65, 53, 53, 0.694);
    text-shadow: 0 0 10px rgb(91, 86, 224)

}
.coberturasAdicionalesAp h3 {
    font-size: 40px;
}
.coberturasAdicionalesAp li{
    color: white;
    list-style: none;
    font-size: 20PX;
    padding: 8px;
    text-shadow: 0 0 5px black;
}

.seguroDeVida
{
    background-image: url(multimedia/vida.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align:sub;
    padding: 200px;
    height: 450px;
}
.seguroDeVidaTexto {
    background-color: rgba(253, 249, 249, 0.7);
    width: 100%;
    margin-top: 40px;
    text-shadow: 0 0 2px white;
    padding: 20px;
    border-radius: 5%;
}
.seguroDeVidaTexto h1 {
    font-size: 40px;
}
.seguroDeVidaTexto p {
    font-size: 20px;
}
.coberturas h2{
    background-color: rgb(245, 245, 200);
    font-size: 50px;
    text-align: center;
    
}
.coberturas h2{
        margin-bottom: 0;
        padding: 20px;
}

.coberturasVarias {
    display: grid;
    grid-template-columns: 1fr
    grid-template-rows: repeat(8, 100px);
    background-color: burlywood;
    padding: 10px;
    grid-gap: 10px;
}
@media only screen and (min-width: 899px) {
    .coberturasVarias {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 23%)
    }
}
@media only screen and (min-width: 1200px) {
    .coberturasVarias {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 48%)
    }
}
.cob {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
    height: auto;
}
.personalizalo
{
    background-color: rgb(240, 174, 32);
    background-position: center center;
    text-align: center;
    padding: 30px;
    font-family: "Playfair Display", serif;
    
}
.personalizalo h3 {
    font-size: 40px;
}

.personalizalo li{
    list-style: none;
    font-size: 20px; 
    color: white;
    text-shadow: 0 0 6px black;
}
.retiro
{
    background-image: url(multimedia/retiro.jpg);
    background-position: center;
    background-size: cover;
    height: 450px;
}
.comoFuncionaRetiro
{
    background-color: rgb(245, 245, 200);
    background-position: center center;
    text-align: center;
    padding: 25px;
}
.comoFuncionaRetiro h2 {
    font-size: 60px;
    color: rgba(65, 53, 53, 0.694);
    text-shadow: 0 0 10px rgb(91, 86, 224)
}
.comoFuncionaRetiro h3 {
    font-size: 40px;
}
.comoFuncionaRetiro p {
    font-size: 20px;
}
.coberturaFallecimiento
{
    background-color: rgb(235, 187, 117);
    background-position: center center;
    text-align: center;
    padding: 50px; 
}
.cobFallecimiento h2{
    font-size: 60px;
    color: rgba(65, 53, 53, 0.694);
    text-shadow: 0 0 10px rgb(91, 86, 224)
}
.coberturaFallecimiento h3 {
    font-size: 40px;
}
.coberturaFallecimiento p{
    font-size: 20px;
}
.personaliza
{
    background-color: rgb(240, 174, 32);
    background-position: center center;
    text-align: center;
    padding: 50px;
    }
.personalizaLogo h2 {
    font-size: 60px;
    color: rgba(65, 53, 53, 0.694);
    text-shadow: 0 0 10px rgb(91, 86, 224)
}
.personaliza h3 {
    font-size: 40px;
}
.personaliza li
{
    color: white;
    list-style: none;
    font-size: 20PX;
    padding: 8px;
    text-shadow: 0 0 5px black;
}

.contacto
{
    background-image: url(multimedia/contacto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align:center;
    vertical-align:sub;
    padding: 200px 50px 200px 50px;    
}
.ingresoDatos {
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    margin-top: 0px;
    padding: 20px;
    display: grid;
}
.ingresoDatos h2 {
    font-size: 40px;
    text-shadow: 0 0 3px white;
}
.ingresoDatos p {
    font-size: 20px;
    text-shadow: 0 0 3px white;
}
.ingresoDatos input {
    padding: 10px 30px;
}